ion-label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  ion-input {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  ion-title{
    color: black;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  ion-button[fill="clear"] {
    color: var(--ion-color-danger);
  }
  