<div class="home-page">
  <img src="./../../assets/logo.png" alt="logo" />

  <ion-content>
    <h3 class="colorRed">Dzień {{ todayExercises.day }}</h3>
    <p>{{ todayExercises.description }}</p>
    <p *ngFor="let exercise of todayExercises.exercises">
      {{ exercise.instruction }}
      <span class="colorRed">{{ exercise.weight }}</span> 
      {{ exercise.series}}x{{ exercise.replies }}
    </p>

    <!-- Wyświetl komunikat, jeśli skippedDays > 0 -->
    <p *ngIf="skippedDays > 0" class="warning">
      Pominąłeś już {{ skippedDays }} dni, wracaj do pracy!!
    </p>
  </ion-content>

  <div class="home-page--buttons">
    <button ion-button color="primary" class="done" (click)="nextDay()">
      Zrobione
    </button>
    <button ion-button color="secondary" class="skip" (click)="skipTraining()">
      Pomiń
    </button>
  </div>
</div>
